@font-face {
    font-family: "Font-1";
    src: url(./Font/Lemon_Tea.ttf);
}
@font-face {
    font-family: "Font-2";
    src: url(./Font/Organic_Relief.ttf);
}
@font-face {
    font-family: "Font-3";
    src: url(./Font/Mangaka.otf);
}

@font-face {
    font-family: "Font-4";
    src: url(./Font/rock_banda.ttf);
}

body{
    background: linear-gradient(#ffffff, #dad8d8 );
}

header {
    border-radius:20px ;
    background:rgb(230, 249, 163);
    display: flex;
    justify-content: space-around;
}

h1 {
    font-family: "Font-2";
}

h2{
    font-family: "Font-3";
    font-size: 20px;
}
/*Apertura index*/
.p_pregunta_edad{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pregunta_edad{
    width: 300px;
    border: 1px solid;
    border-radius: 20px;
    padding: 30px;
}
/* Apertura texto bases de datos */
.p_tickets_base_de_datos{
    display: flex;
    justify-content: center;
}
.tickets_base_de_datos{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px;
    border: 1px solid;
    border-radius: 20px;
}
.genero_banda{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    border: 1px solid;
    margin: 1px;
}
.h_genero_banda{
    font-family: 'Font-4';
    font-size: 20px;
    margin: 10px;
}
/* Clausura texto bases de datos */

/*Clausura index*/

.h2_index{
    font-family: "Font-3";
    font-size: 20px;
    color:red;
}

p {
    font-family: "Font-3";
    font-size: 50px;
}

header a {
    margin: 10px;
    color: gray;
    text-decoration: none;
    font-family: "Font-3";
    font-size: 50px;
}

.header_a:hover {
    color: rgb(20, 247, 32);
}

ul {
    display: flex;
    flex-direction: column;
}

ul a {
    width: 50px;
    text-align: center;
    background:rgb(230, 249, 163) ;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    text-decoration: none;
    list-style: none;
    font-family: "Font-3";
}

img{
    width: 500px;
    height: 400px;
}

.caja_tienda {
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.cajaformulario{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.formulario{
    border-radius:10px;
    background: rgb(230, 249, 163);
    display: flex;
    width: 600px;
    flex-direction: column;
    padding: 20px;
}
.contacto_input{
    margin: 5px;
}

.inputedad{
    height: 40px;
    border-radius: 5px;
}

.boton{
    font-size: 15px;
    font-family: "Font-3";
    color: rgb(91, 1, 1);
    margin: 5px;
    border-radius:10px ;
    height: 50px;
    width: 80px;
    background:rgb(230, 249, 163);
}
.boton:hover{
    background: rgb(172, 255, 196);
}

/*Apertura Formulario Admin*/
.texto_superior_admin{
    text-align: center;
}

.genero_input{
    padding: 20px;
    margin: 20px;
}

.banda_input{
    padding: 20px;
    margin: 20px;
}

/*Clausura Formulario Admin*/

/*Apertura Footer*/
footer {
    margin-top: 50px;
    font-family: "Font-3";
    font-size: 25px;
    border-radius: 20px;
    text-align: center;
    color: gray;
    background:rgb(230, 249, 163) ;
}

.caja_a_de_footer{
    margin: 10px;
    padding-bottom: 10px;
}

.a_de_footer{
    text-decoration: none;
    font-family: "Font-3";
    font-size: 40px;
    color: gray;
    padding: 5px;
    margin: 15px;
}
.a_de_footer:hover{
    color: greenyellow;
    border-radius: 10px;
    background: #3f3c3c;
} 

.div_footer{
    font-size: 20px;
}
/*Clausura Footer*/

@media only screen and (max-width: 650px) {
    h1 {
        font-size:20px
    }

    footer{
        padding: 5px;
    }

    .a_de_footer{
        font-size: 25px;
      }
    .header_a {
        font-size: 22px;
        color: rgb(82, 88, 68);
    }
    h2{
        font-size: 18px;
        font-weight: lighter;
    }
    .div_footer{
        font-size: 18px;
    }
}
@media only screen and (max-width: 850px) {
    .caja_tienda{
        display: flex;
        justify-content: center;
        width: 90%;
    }
    ul {
        margin: 1px;
        padding: 0px;
    }
    img{
        width: 120px;
        height: 90px;
    }

}

